.main {
    display: flex;
    flex-direction: row;
    padding: 0rem;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    color: black;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background: rgb(0, 3, 37);
    float: left;
    color: white;
    padding: 2rem;
}

.coverNav {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.coverNav ul {
    list-style: none;
}

.coverNav ul li {
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.view {
    width: 80%;
    min-height: 100vh;
    background: rebeccapurple;
    float: right;
    color: white;
}